<div id="<%= dom_id listing %>">
  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Rent:</strong>
    <%= listing.rent %>
  </p>

  <p>
    <strong>Sqft:</strong>
    <%= listing.sqft %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= listing.bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= listing.bathrooms %>
  </p>

</div>
